/* Cayman Style CSS */

body {
    background-color: #f3f3f3;
    color: #6a6a6a;
    font-family: sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #4c4c4c;
    font-weight: bold;
  }
  
  a {
    color: #6f9ddb;
    font-weight: bold;
    text-decoration: none;
  }
  
  a:hover {
    color: #4f7cc6;
  }
  
  li {
    list-style-type: none;
  }
  
  input[type="text"], textarea {
    border: 1px solid #d8d8d8;
    padding: 8px;
  }
  
  button {
    background-color: #6f9ddb;
    border: none;
    color: #f3f3f3;
    font-weight: bold;
    padding: 8px 16px;
  }
  
  button:hover
  